* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular, Roboto;
}


.product-list{
    box-shadow: 4px 4px 9px gray; 
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    text-decoration: none;
    margin: 10px;
    margin-left: 150px;
}
.product-list-detail{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 20px;
    text-decoration: none;
    margin: 10px;
    margin-left: 230px;
    padding-top: 20px;

}

.products-details {
    border: 1px solid black;
    background-color: aliceblue;
    width: 80%;
    margin-left: 100px;
}

.footer {
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(193, 195, 196);
    padding: 40px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 100px;
}

.cart-items-count{
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    font-size: 18px;
    background-color: red;
    color: azure;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 0px;
 }
 .rubric{
    text-align: center;
 }
 .container-cart{
    padding: 10px;
    border: solid 1px

 }

.detail-btn{
    width: 120px;
    height: 50px;
    margin-top: 280px;
    margin-left: 60px;
    color: aliceblue;
    border: none;
    background-color: rgb(41, 113, 41);
}
  
.product-style-text{
    padding-top: 140px;
    display: inline-block;
}
.product-style{
    padding-top: 40px;
}
.heder{
    color: aliceblue;
    text-align: center;
    padding-left: 390px;
}

.cart{
    padding-left: 400px;
    font-size: 25px;
}
.home{
    font-size: 20px;
}

.img{
    padding-left: 500px;
}

.btn-order{
    width: 50px;
    height: 40px;
    margin-top: 20px;
    /* margin-left: 60px; */
    color: aliceblue;
    border: none;
    background-color: rgb(45, 118, 128);}

.btn-order-remove{
    width: 80px;
    height: 40px;
    margin-top: 20px;
    /* margin-left: 60px; */
    color: aliceblue;
    border: none;
    padding: 10px;
    background-color: rgb(201, 61, 37);
    }

.btn-add{
    width: 80px;
    height: 40px;
    margin-top: 20px;
    /* margin-left: 60px; */
    color: aliceblue;
    border: none;
    padding: 10px;
    background-color: rgb(6, 102, 3);

}
.add{
    width: 50px;
    height: 40px;
    margin-top: 4px;
    /* margin-left: 60px; */
    color: aliceblue;
    border: none;
    /* padding: 10px; */
    background-color: rgb(59, 62, 59);
    border-radius: 30px;
    
}